<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- CacheContol -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=31536000" />
      </customHeaders>
    </httpProtocol>
    <!-- File permission -->
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain" />
      <mimeMap fileExtension="*.txt" mimeType="text/plain" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" /> 
      <!-- <mimeMap fileExtension=".gif" mimeType="image/gif" />  -->
    </staticContent>

    <rewrite>
      <rules>
        <!--INICIO - Modificado por panel de control para la redireccion de dominios - NO Borrar!!-->
        <!-- <remove name="RedirectWwwToNonWww" />
<rule name="RedirectWwwToNonWww" stopProcessing="false">
  <match url="(.*)" />
  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
    <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
  </conditions>
  <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
</rule>      -->
        <!-- <remove name="civeloo.com" />
        <rule name="civeloo.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	    <add input="{HTTP_HOST}" pattern="^(www.)?civeloo.com(.*)" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule> -->
        <!--FIN - Modificado por panel de control para la redireccion de dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
        <!--INICIO - Modificado por panel de control para la redireccion de Sub-dominios - NO Borrar!!-->
        <remove name="gen.civeloo.com" />
        <rule name="gen.civeloo.com" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www.)?gen.civeloo.com(.*)" />
            <add input="{PATH_INFO}" pattern="^/gen/" negate="true" />
          </conditions>
          <action type="Redirect" url="http://civeloo.com/gen/" redirectType="Permanent" />
        </rule>
        <!--FIN - Modificado por panel de control para la redireccion de Sub-dominios-->
      </rules>
    </rewrite>
  </system.webServer>
</configuration>